{% extends "base.html" %}

{% block content %}

<div id="co_wrapper">
    <div class="co_short">
        <h4 class="co_name">K-NORMA d.o.o</h4><span><small>3comments</small></span>
        <h5><li class="co_rate">OCENA<div class="progress_rate">
            <div class="progress-bar_rate" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
          </div></li>
        <li class="co_pay">PLACA <span>1000e</span> <div class="progress_pay">
            <div class="progress-bar_pay" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
          </div></li>
        <li>URNIK <span>Dvoizmenski</span></li></h5>
    
        
        <a href="assets/pages/K-NORMA.html">DETAILS</a>
    </div>
</div>

{% endblock content %}

